body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top .container {
    display: flex;
    min-height: 42px;
}


.header-middle .container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 45px;
}

.btn {
    display: inline-block;
    padding: 0 40px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 38px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
}

.btn:hover,
.btn:focus {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.logo {
    background-color: #ee3643;
}

.logo:hover,
.logo:focus {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}
.main-header {
    background-color: #f4f7f9;
}

.header-top {
    color: #ffffff;

    background-color: #293449;
}

.header-top input[type="search"] {
    color: #ffffff;

    background-color: #293449;

    border: none;
}

.header-top input[type="search"]:focus {
    color: #000000;

    background-color: #ffffff;

    outline: none;
}

.header-top a {
    color: inherit;
}

.action a:hover,
.action a:focus {
    background-color: #212a3a;
}

.action a:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.header-top a.order {
    background-color: #63a63e;
}

a.order:hover {
    background-color: #5fbb2d;
}

a.order:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

.header-middle {
    background-color: #f4f7f9;
}

.header-middle .main-title {
    /* box-sizing: border-box; */
    width: 250px;
    margin: 0;
    padding: 0;
    padding-left: 50px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;

    background-color: rgba(250, 0, 0, 0.3);
}

.header-middle .info {
    width: 300px;

    background-color: rgba(0, 250, 0, 0.3);
}

.header-middle .phone {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    border: 3px solid #ffffff;
}

.header-middle .authenticate {
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.authenticate a {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    color: #000000;

    background-color: #ffffff;

    background-color: rgba(17, 0, 250, 0.3);
}

.authenticate a:hover,
.authenticate a:focus {
    color: #ee3643;

    outline: none;
}

.authenticate a:active {
    color: rgba(0, 0, 0, 0.3);
}

.personal .user-name {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    color: #000000;

    background-color: #ffffff;
}

.personal .profile-menu {
    list-style: none;
}

.profile-menu a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.profile-menu a:hover,
.profile-menu a:focus {
    color: #ee3643;

    outline: none;
}

.personal a:active,
.profile-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-bottom .main-nav {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #32425c;
}

.main-nav li {
    flex-grow: 1;
}

.main-nav a {
    display: block;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 26px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
}

.main-nav li:first-child a {
    box-sizing: border-box;
    padding-left: 20px;
}

.main-nav li:last-child a {
    box-sizing: border-box;
    padding-right: 20px;
}

.main-nav a:hover,
.main-nav a:focus {
    background-color: #293449;
}

.main-nav a:active {
    background-color: #32425c;
    color: rgba(255, 255, 255, 0.5);
}




.features {
    margin-bottom: 53px;
    background-color: #ffffff;
}

.features-list div {
    display: inline-block;
    width: 300px;
}

.features-list .features-slider-perforators {
    display: none;
}

.features-list .features-slider-drills {
    width: 600px;
    float: left;
    height: 266px;
}

.features-list::after {
    display: block;
    content: "";
    clear: both;
}

/* .features-list {
    list-style: none;
} */

.features-list li {
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
}

.features-list .materials {
    background-color: #ffbf47;
}

.features-list .tool {
    background-color: #3bbce3;
}

.features-list .tech {
    background-color: #dc91d8;
}

.features-list .sales {
    background-color: #8ed78f;
}

.features-list .delivery {
    background-color: #ffc047;
}

.features-list h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.features-list a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.1);
}

.features-list a:hover,
.features-list a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.features-list a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.fearures-slider {
    list-style: none;

    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
}

.fearures-slider h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
}

.features-slider span {
    font-size: 18px;
    line-height: 24px;
}

.features-slider-drills {
    background-color: #685C52;
    background-image: url("../img/slide-image1.jpg");
    background-repeat: no-repeat;
}

.features-slider-perforators {
    background-color: #685C52;
    background-image: url("../img/slide-image2.jpg");
    background-repeat: no-repeat;
}

.pop-titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #f9f5f0;
}

.pop-items {
    margin-bottom: 20px;
}

.pop-titles h2,
h1.pop-titles {
    margin-left: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #f9f5f0;
}

.pop-titles .btn {
    margin-right: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.item-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-list a {
    display: block;
    border: 1px solid #eaeaea;
}

.item-product h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.item-product .del {
    font-size: 18px;
    line-height: 19px;
    text-decoration: line-through;
    color: #a9a9a9;
}

.item-product .ins {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;

    background-color: #EF3341;
}

.pop-brands {
    padding-bottom: 65px;
}

.brands-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.brands-item {
    margin-bottom: 20px;
}

.brands-item a {
    display: flex;
    width: 218px;
    min-height: 143px;

    border: 1px solid #eaeaea;
}

.brands-item img {
    margin: auto;
}

.services {
    background-color: #f4f7f9;
}

.services .container {
    padding-top: 68px;
    padding-bottom: 100px;
}

.services h2 {
    margin: 0;
    margin-bottom: 33px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services p {
    margin: 0;
    padding: 0;
}

.services-slider {
    margin:0;
    padding: 0;
    list-style: none;
}

.services-slider button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;

    background-color: #32425c;

    border: none;
}

.services-slider-item.active button {
    color: #32425c;

    background-color: #ffffff;
}

.services-slider-item:not(.active) button:hover,
.services-slider-item:not(.active) button:focus {
    background-color: #293449;
}

.services-slider h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.services-slider p {
    font-size: 13px;
    line-height: 24px;
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 82px;
    padding-bottom: 86px;
}

.column-wrapper p {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}
.about-us {
    width: 540px;
}

.about-us h2,
.contacts h2,
.about-perf h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 33px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about-us .forwarder {
    margin: 0;
    padding: 0;
    margin-bottom: 38px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.forwarder li:not(:last-child) {
    margin-bottom: 20px;
}

.contacts {
    width: 300px;
}

.contacts img {
    margin-bottom: 40px;
}

.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-top,
.footer-middle {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    background-color: #32425c;
}

.footer-top li {
    margin-top: 39px;
}

.footer-top .container,
.footer-middle .container {
    display: flex;
    justify-content: space-between;
}

.main-footer a {
    font: inherit;
    color: inherit;
}

.footer-top ul,
.footer-middle ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-top li,
.footer-middle li {
    margin-left: 60px;
}

.main-footer p {
    margin: 0;
    padding: 0;
}

.main-footer .second-nav {
    color : #ffd180;
}

.footer-middle {
    padding-top: 34px;
    padding-bottom: 50px;
}

.footer-middle address {
    white-space: nowrap;
    font-style: normal;
}

.first-nav a:hover,
.first-nav a:focus,
.second-nav a:hover,
.second-nav a:focus {
    text-decoration: underline;

    outline: none;
}

.first-nav a:active {
    color : rgba(241, 245, 247, 0.5);
}

.second-nav a:active {
    color : rgba(255, 209, 128, 0.5);
}

.footer-bottom {
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.footer-bottom .container {
    display: flex;
}

.footer-bottom .copyrights {
    white-space: nowrap;
}

.footer-bottom .social {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    margin: 0;
    padding: 0;
    list-style: none;
}

.social a {
    display: block;
    width: 42px;
    height: 42px;

    background-color: #212a3a;

    border-radius: 50%;
}

.social a:hover,
.social a:focus,
.social a:active {
    background-color: #ee3643;

    outline: none;
}

.social .vk {
    background-image: url("../img/icon/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social .fb {
    background-image: url("../img/icon/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social .insta {
    background-image: url("../img/icon/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.footer-bottom .creator {
    color: #ffd180;
}

.footer-bottom .creator:hover,
.footer-bottom .creator:hover {
    text-decoration: underline;
    outline: none;
}

.footer-bottom .creator:active {
    color: #ee3643;
}

.footer-bottom .development {
    margin-right: 14px;
}

.footer-bottom .feedback {
    margin-right: 53px;
}

main .breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.filter h2,
.sorting span,
.sorting a {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;

    background-color: #f7f3ec;
}

.sorting a {
    color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover,
.sorting a:focus {
    color: #000000;

    border-bottom: 1px solid #ee3643;
    outline: none;
}

.sorting a:active {
    color: #ee3643;
}

.filter span {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter button {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.pagination {
    list-style: none;
}

.pagination a {
    display: block;

    font-size: 13px;
    line-height: 18px;
    color: #000000;

    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination a.current {
    color: #ffffff;

    background-color: #ee3643;


    border: 1px solid #ee3643;
}

.pagination a:hover,
.pagination a:focus {
    border: 1px solid #bdc6ca;
}

.pagination a:active {
    border: 1px solid #ee3643;
}

.about-perf {
    background-color: #f4f7f9;
}