html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.icon {
    position: relative;
}

.icon::before,
.icon.user-name::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto 0;
    background-position: center;
    background-repeat: no-repeat;
}
.btn {
    display: inline-block;
    padding: 0 40px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 38px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.btn:hover,
.btn:focus {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.new {
    position: relative;
    overflow: hidden;
}
.new::before {
    position: absolute;
    top: 5px;
    right: -25px;
    z-index: 20;

    content: "new";

    display: inline-block;
    width: 90px;
    height: 27px;
    transform: rotate(45deg);

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: white;

    background-color: #EF3341;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 42px;
    background-color: #ee3643;
    box-shadow: 0 5px #ba2732;
}

.logo:hover,
.logo:focus {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}
.main-header {
    padding-bottom: 60px;
    background-color: #f4f7f9;
}

header *,
footer * {
    font-family: "Cuprum", Arial, sans-serif;
}

.header-top {
    color: #ffffff;

    background-color: #293449;
}

.header-top .container {
    display: flex;
    align-items: center;
    min-height: 42px;
}

.header-top form {
    flex-grow: 1;
}

.header-top input[type="search"] {
    width: 100%;
    font-size: 17px;
    line-height: 42px;
    padding: 0;
    padding-left: 49px;
    line-height: 42px;
    color: #ffffff;

    background-color: #293449;

    border: none;
}

.header-top input[type="search"]:focus {
    color: #000000;

    background-color: #ffffff;

    outline: none;
}

.header-top .search-wrapper {
    position: relative;
}

.header-top .search-wrapper::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 17px;
    height: 17px;

    background-image: url("../img/icon/icon-search.svg");
    background-repeat: no-repeat;

    opacity: 0.3;
}

.search-wrapper:hover::before {
    opacity: 1;
}


.search::-webkit-input-placeholder {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 42px;
    color:#ffffff;
}
.search::-moz-placeholder {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 42px;
    color:#ffffff;
}
.search:-moz-placeholder {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 42px;
    color:#ffffff;
}
.search:-ms-input-placeholder {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 42px;
    color:#ffffff;
}

.header-top .action {
    display: flex;
}

.action a {
    padding: 0 30px 0 50px;
    font-size: 17px;
    line-height: 42px;
    color: inherit;
    white-space: nowrap;
}

.action a:hover,
.action a:focus {
    background-color: #212a3a;
}

.action a:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.header-top .order {
    padding: 0 21px;
    background-color: #63a63e;
}

.header-top .cart-full {
    background-color: #ee3643;
}

.action .wishlist::before {
    left: 22px;

    background-image: url("../img/icon/icon-bookmark.svg");

    opacity: 0.3;
}

.action .wishlist:hover::before,
.action .wishlist:focus::before {
      opacity: 1;
}

.action .wishlist:active::before {
    opacity: 0.5;
}

.header-top .cart::before {
    left: 18px;

    background-image: url("../img/icon/cart-icon.svg");

    opacity: 0.3;
}

.header-top .cart:hover::before,
.header-top .cart:focus::before {
    opacity: 1;
}

.header-top .cart:active::before {
    opacity: 0.5;
}

.header-top .order:hover,
.header-top .order:focus {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

.header-middle {
    background-color: #f4f7f9;
}

.header-middle .container {
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
    padding-bottom: 40px;
}

.header-middle .main-title {
    flex-basis: 250px;
    margin: 0;
    padding: 0;
    padding-left: 52px;

    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 23px;
    color: #ee3643;
}

.header-middle .info {
    flex-basis: 320px;
    margin-left: 15px;
    text-align: center;
}

.header-middle .phone {
    display: inline-block;
    padding: 10px 47px 8px 71px;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    border: 3px solid #ffffff;
}

.header-middle .phone::before {
    left: 13px;

    background-image: url("../img/icon/icon-phone.svg");
}

.header-middle address {
    display: inline-block;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    font-style: normal;
}

.header-middle .authenticate {
    display: flex;
    justify-content: space-between;
    min-width: 281px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.authenticate a {
    display: block;
    padding: 0 24px;

    font-size: 21px;
    line-height: 45px;
    color: #000000;

    background-color: #ffffff;
}

.authenticate a:hover,
.authenticate a:focus {
    color: #ee3643;

    outline: none;
}

.authenticate a:active {
    color: rgba(0, 0, 0, 0.3);
}

.authenticate .enter {
    padding-left: 48px;
}

.authenticate .enter::before {

    left: 15px;

    background-image: url("../img/icon/icon-login.svg");

    opacity: 0.3;
}

.authenticate a.enter:hover::before,
.authenticate a.enter:focus::before {
    opacity: 1;
}

.header-middle .personal {
    min-width: 299px;
}

.personal .user-name {
    display: block;
    padding-left: 47px;

    line-height: 45px;
    font-size: 21px;
    color: #000000;

    background-color: #ffffff;
}

.personal .user-name::before {
    left: 13px;

    background-image: url("../img/icon/icon-user.svg");

    opacity: 0.3;
}

.personal .user-name::after {
    right: 11px;

    background-image: url("../img/icon/icon-logout.svg");

    opacity: 0.3;
}

.personal .profile-menu {
    margin: 7px 0 0 18px;
    padding: 0;

    list-style: none;
}

.profile-menu li {
    display: inline-block;
}

.profile-menu a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.profile-menu li:first-child a {
    position: relative;
    margin-right: 28px;
}

.profile-menu li:first-child a::after {
    content: "";

    position: absolute;
    top: 8px;
    right: -19px;

    width: 4px;
    height: 4px;

    background-color: #32425c;
    border-radius: 50%;
}

.profile-menu a:hover,
.profile-menu a:focus {
    color: #ee3643;

    outline: none;
}

.personal a:active,
.profile-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-bottom .main-nav {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #32425c;
}

.main-nav li {
    flex-grow: 1;
}

.main-nav a {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 18px;
    border-bottom: 5px solid #293449;

    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
}

.main-nav li:first-child a {
    padding-left: 20px;
}

.main-nav li:last-child a {
    padding-right: 20px;
}

.main-nav a:hover,
.main-nav a:focus {
    background-color: #293449;
}

.main-nav a:active {
    background-color: #32425c;
    color: rgba(255, 255, 255, 0.5);
}

.features {
    margin-top: 59px;
    margin-bottom: 53px;
    background-color: #ffffff;
}

.features * {
    font-family: "Cuprum", Arial, sans-serif;
}

.feature-item {
    position: relative;
    width: 300px;
    height: 123px;
    padding-top: 21px;
    padding-right: 140px;
    padding-bottom: 22px;
    padding-left: 23px;
}

.features h3 {
    margin: 0;
    margin-bottom: 12px;

    font-weight: bold;
    font-size: 24px;
    color: white;
}

.features-btn {
    display: inline-block;
    width: 135px;
    height: 38px;

    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.features-wrapper-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.features-wrapper-bottom {
    display: flex;
    justify-content: space-between;
}

.features-wrapper-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features-wrapper-slider {
    position: relative;
    width: 620px;
}

.features-slider-perforators {
    display: none;
}

.feature-item::after {
    content: "";

    position: absolute;

    background-repeat: no-repeat;
}

.features-list .materials {
    background-color: #ffbf47;
}

.features-list .materials::after {
    top: 31px;
    right: 43px;

    width: 44px;
    height: 65px;

    background-image: url("../img/icon/icon-1.svg");
}

.features-list .tool {
    background-color: #3bbce3;
}

.features-list .tool::after {
    top: 33px;
    right: 28px;

    width: 75px;
    height: 61px;

    background-image: url("../img/icon/icon-2.svg");
}

.features-list .tech {
    background-color: #dc91d8;
}

.features-list .tech::after {
    top: 31px;
    right: 31px;

    width: 78px;
    height: 62px;

    background-image: url("../img/icon/icon-3.svg");
}

.features-list .sales {
    background-color: #8ed78f;
}

.features-list .sales::after {
    top: 26px;
    right: 45px;

    width: 59px;
    height: 72px;

    background-image: url("../img/icon/icon-4.svg");
}

.features-list .delivery {
    background-color: #ffc047;
}

.features-list .delivery::after {
    top: 32px;
    right: 31px;

    width: 78px;
    height: 63px;

    background-image: url("../img/icon/icon-5.svg");
}

.features-list h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}



.features-list a:hover,
.features-list a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.features-list a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.features-slider {
    height: 266px;
    padding: 22px 25px;

    color: #ffffff;
}

.features-slider h3 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
}

.features-slider span {
    display: block;
    margin-bottom: 121px;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.features-slider .btn {
    padding-left: 49px;
    padding-right: 47px;
}

.features-slider-drills {
    position: relative;
    background-color: #685C52;
    background-image: url("../img/slide-image2.jpg");
    background-repeat: no-repeat;
}

.features-wrapper-slider::before {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 30px;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50px 0 0 0;
    background-color: transparent;
    box-shadow: 3px 3px 0 1px #ffffff;
    content: "";
    transform: rotate(135deg) scale(0.73);
  }

.features-wrapper-slider::after {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 30px;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50px 0 0 0;
    background-color: transparent;
    box-shadow: 3px 3px 0 1px #ffffff;
    content: "";
    transform: rotate(-45deg) scale(0.73);
  }

.features-slider-perforators {
    background-color: #685C52;
    background-image: url("../img/slide-image1.jpg");
    background-repeat: no-repeat;
}

.headline-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #f9f5f0;
}

.pop-items {
    margin-bottom: 21px;
}

.headline {
    margin: 30px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.headline-wrapper .btn {
    margin-right: 24px;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: auto;
    margin-bottom: auto;
}

.item-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border: 1px solid #eaeaea;
}

.item-product:hover,
.item-product:focus {
    box-shadow: 0px 10px 25px 0 #29344980;
}

.item-product img {
    margin-bottom: 9px;
}

.item-product h3 {
    margin: 0;
    margin-bottom: 11px;

    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.item-product .del {
    margin-bottom: 10px;

    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: line-through;
    color: #a9a9a9;
}

.item-product .ins {
    position: relative;
    margin-top: auto;
    margin-right: 10px;
    padding: 0 20px 0 36px;
    font-size: 17px;
    line-height: 38px;
    font-weight: bold;
    color: #ffffff;

    background-color: #EF3341;
    border-radius: 3px 0 0 3px;
}

.item-product .ins::after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    border: 19px solid transparent;
    border-left-color: #EF3341;
    border-right-width: 0px;
}

.item-product .actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 150px;
    padding: 40px 0;

    text-align: center;

    background-color: white;
}

.item-product .buy,
.item-product .to-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
  border-radius: 3px;

  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 38px;
  text-decoration: none;
  text-transform: uppercase;
}

.item-product .to-bookmark {
    color: #32425c;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 3px #63a63e;
}

.item-product .buy:hover,
.item-product .buy:focus {
    background-color: #5fbb2d;
}

.item-product .buy:active {
    background-color: #518534;
    box-shadow: none;
}

.item-product .to-bookmark:hover,
.item-product .to-bookmark:focus {
    box-shadow: inset 0 0 0 3px #32425c;
}

.item-product .to-bookmark:active {
    opacity: 0.3;
}

.item-product:hover .actions,
.item-product:focus .actions {
    display: block;
}

.pop-brands {
    padding-bottom: 65px;
}

.pop-brands .btn {
    padding-left: 69px;
    padding-right: 70px;
}

.brands-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.brands-item {
    margin-bottom: 20px;
}

.brands-item a:hover,
.brands-item a:focus {
    box-shadow: 0px 10px 25px 0 #29344980;
    outline: none;
}

.brands-item a:active {
    box-shadow: 0px 4px 10px 0 #29344980;
    opacity: 0.3
}

.brands-item a {
    display: flex;
    width: 218px;
    min-height: 143px;

    border: 1px solid #eaeaea;
}

.brands-item img {
    margin: auto;
}

.services {
    background-color: #f4f7f9;
}

.services .container {
    padding-top: 68px;
    padding-bottom: 100px;
}

.services h2 {
    margin: 0;
    margin-bottom: 25px;
}

.services p {
    margin: 0;
    padding: 0;

    line-height: 24px;
}

.services-slider {
    position: relative;
    margin: 0;
    margin-top: 69px;
    padding: 0;
    list-style: none;
}

.services-slider::after {
    content: "";
    position: absolute;
    top: -45px;
    left: 230px;
    width: 10px;
    height: 279px;
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
}

.services-slider li {
    width: 240px;
}

.services-slider section {
    position: absolute;
    top: 0;
    right: 0;
    left: 320px;
    display: none;
    min-height: 280px;

    background-repeat: no-repeat;
    background-position: right 20px;
}

.delivery section {
    background-image: url("../img/delivery.png");
}

.warranty section {
    background-image: url("../img/guarantee.png");
}

.credit section {
    background-image: url("../img/credit.png");
}

.services-slider label {
    display: block;
    padding-left: 22px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 61px;
    font-weight: bold;
    color: #ffffff;

    background-color: #32425c;

    border: none;
    box-shadow:
        inset 0px -1px 0 0 #293449,
        inset 0px 1px 0 0 #405069;
}

.services-slider label:hover {
    background-color: #293449;
    box-shadow: none;
}

input[name="services"]:checked + label {
    color: #32425c;

    background-color: #ffffff;
    box-shadow: 0px 1px 0 0 #ffffff, inset 0.6px 0.8px 0 0 #ffffff;
}

input[name="services"]:checked ~ section {
    display: block;
}

.services-slider h3 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.services-slider p {
    font-size: 13px;
    line-height: 24px;
}

.delivery p {
    width: 275px;
}

.warranty p {
    width: 379px;
}

.credit p {
    width: 279px;
}

.services-slider .btn {
    margin-top: 25px;
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 86px;
}

.column-wrapper p {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}
.about-us {
    width: 540px;
}

.about-us h2,
.contacts h2,
.about-perf h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about-us {
    line-height: 24px;
}

.about-us .forwarder {
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    padding-left: 36px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;

    list-style: none;
}

.forwarder li {
    position: relative;
    margin-bottom: 17px;
}

.forwarder li::before {
    position: absolute;
    left: -36px;
    top: 8px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.contacts {
    flex-basis: 300px;
}

.contacts p {
    line-height: 24px;
}

.contacts img {
    margin-top: 7px;
    margin-bottom: 37px;
}

.contacts .btn {
    padding: 0 61px;
}

.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-top,
.footer-middle {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    background-color: #32425c;
}

.footer-top li {
    margin-top: 39px;
}

.footer-top .container,
.footer-middle .container {
    display: flex;
    justify-content: space-between;
}

.main-footer .logo {
    height: 63px;
}

.main-footer a {
    font: inherit;
    color: inherit;
}

.footer-top ul,
.footer-middle ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-top li,
.footer-middle li {
    margin-left: 60px;
}

.main-footer p {
    margin: 0;
    padding: 0;
}

.main-footer .second-nav {
    color : #ffd180;
}

.footer-middle {
    padding-top: 34px;
    padding-bottom: 50px;
}

.footer-middle address {
    white-space: nowrap;
    font-style: normal;
}

.first-nav a:hover,
.first-nav a:focus,
.second-nav a:hover,
.second-nav a:focus {
    text-decoration: underline;

    outline: none;
}

.first-nav a:active {
    color : rgba(241, 245, 247, 0.5);
}

.second-nav a:active {
    color : rgba(255, 209, 128, 0.5);
}

.footer-bottom {
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.footer-bottom .container {
    display: flex;
}

.footer-bottom .copyrights {
    white-space: nowrap;
}

.footer-bottom .social {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    margin: 0;
    margin-left: 40px;
    padding: 0;
    list-style: none;
}

.social a {
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 3px;

    background-color: #212a3a;

    border-radius: 50%;
}

.social a:hover,
.social a:focus,
.social a:active {
    background-color: #ee3643;

    outline: none;
}

.social .vk {
    background-image: url("../img/icon/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social .fb {
    background-image: url("../img/icon/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social .insta {
    background-image: url("../img/icon/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.footer-bottom .creator {
    color: #ffd180;
}

.footer-bottom .creator:hover,
.footer-bottom .creator:hover {
    text-decoration: underline;
    outline: none;
}

.footer-bottom .creator:active {
    color: #ee3643;
}

.footer-bottom .development {
    margin-right: 14px;
}

.footer-bottom .feedback {
    margin-right: 53px;
}

.breadcrumbs {
    margin: 0;
    margin-top: 22px;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
}

.breadcrumbs a {
    display: block;
    margin-right: 35px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.breadcrumbs a.home {
    width: 14px;
    height: 12px;
    background-image: url("../img/icon/icon-home.svg");
    background-repeat: no-repeat;
}

.breadcrumbs li:not(:first-child)::before {
    position: absolute;
    top: 4px;
    left: -27px;
    width: 10px;
    height: 10px;
    border-radius: 100% 0 0 0;
    background-color: transparent;
    box-shadow: 1px 1px 0 1px #C2C7CF;
    content: "";
    transform: rotate(-45deg) scale(0.73);
}

.catal-column-wrapper {
    display: flex;
    justify-content: space-between;
}

.filter {
    width: 220px;
}

.filter h2,
.sorting span,
.sorting a {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;

    background-color: #f7f3ec;
}

.filter h2 {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter .range-wrapper {
    margin-bottom: 17px;
    padding-bottom: 22px;
    border-bottom: 1px solid #E6E6E6;
}

.filter .range {
    display: flex;
    height: 80px;
    margin-bottom: 10px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.filter .range-line {
    position: relative;
    width: 180px;
    height: 2px;
    margin: auto;
    background-image: linear-gradient(to right, #00CB75 152px, #D8DDDF 152px);
}

.range-line::before,
.range-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;

    background-color: #ACADAD;
    border: 8px solid #ffffff;
    border-radius: 50%;
}

.range-line::after {
    left: 77%
}

.range-output {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.range-output::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 1px;
    background-color: #000000;
}
.range-output input {
    width: 95px;
    height: 38px;
    text-align: center;
    background-color: #F7F3ED;
    border: none;
}

.filter .checkbox-wrapper {
    margin-bottom: 18px;
    border-bottom: 1px solid #E6E6E6;
}

.brand-checkbox{
    position: relative;

    display: block;
    margin-bottom: 20px;

    padding-left: 33px;
}

.brand-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -2px;
    left: 0;

    width: 23px;
    height: 23px;

    border: 2px solid #c5c5c5;
    border-radius: 3px;
}

.brand-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;

  width: 11px;
  height: 4px;
  transform: rotate(45deg);

  background-color: #c5c5c5;
  border-radius: 1px;
}

.brand-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
        content: "";

        position: absolute;
        top: 5px;
        left: 5px;

        width: 20px;
        height: 4px;
        transform: rotate(-45deg);

        background-color: #c5c5c5;
        border-radius: 1px;
        outline: 2px solid #ffffff;
  }

  .brand-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  .filter .radio-wrapper {
      margin-bottom: 75px;
  }

  .power-radio{
    position: relative;

    display: block;
    margin-bottom: 20px;

    padding-left: 30px;
}

.power-radio input[type="radio"] + .radio-indicator {
    position: absolute;
    top: -2px;
    left: 0;

    width: 25px;
    height: 25px;

    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.power-radio input[type="radio"]:checked + .radio-indicator::before {
    content: "";

    position: absolute;
    top: 4px;
    left: 4px;

    width: 9px;
    height: 9px;

    background-color: #c5c5c5;
    border-radius: 50%;
}

.power-radio input[type="radio"]:focus + .radio-indicator {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

.filter button[type="submit"] {
    padding: 0 39px;

    line-height: 38px;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.catalog {
    flex-basis: 700px;
}

.sorting {
    position: relative;
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
    padding: 10px 15px 10px 19px;

    background-color: #f7f3ec;
}

.sorting-direction:active {
    border-top-color: #ee3643;
}

.sorting-selection > a {
    margin-right: 26px;
    margin-left: 37px;

    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #ee3643;
}

.sorting-selection > a:hover,
.sorting-selection > a:focus {
    color: #000000;

    border-bottom: 1px solid #ee3643;
    outline: none;
}

.sorting-selection > a:active {
    color: #ee3643;
}

.sorting-direction {
    display: inline;
    white-space: nowrap;
}

.sorting-direction .direction {
    position: relative;
    width: 12px;
    margin-left: 18px;
    display: inline-block;
    height: 11px;
}

.sorting-direction .direction::before{
    content: "";
    position: absolute;
    border: 6px solid #ffffff;
    border-top-color: #000000;
    opacity: 0.3;
    border-top-width: 11px;
    border-bottom-width: 0px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.sorting-direction .direction-top::before {

    transform: rotate(180deg);
}

.direction:hover::before,
.direction:focus::before {
    opacity: 1;
}


h1.headline {
    margin: 20px auto 18px 0;
    padding: 30px;

    background-color: #f2f6f8;
}

.filter span {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter button {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog .item-list {
    /* display: flex;
    justify-content: space-between; */
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.catalog .item-product {
    margin-bottom: 20px;
}

.pagination {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;
}

.pagination li {
    display: inline-block;
    margin-right: 7px;
}

.pagination a {
    display: block;
    min-width: 37px;
    height: 38px;

    font-size: 13px;
    line-height: 38px;
    color: #000000;
    text-align: center;

    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination a.next-page {
    padding-left: 30px;
    padding-right: 30px;

    text-transform: uppercase;
}

.pagination a.current {
    color: #ffffff;

    background-color: #ee3643;


    border: 1px solid #ee3643;
}

.pagination a:hover,
.pagination a:focus {
    border: 1px solid #bdc6ca;
}

.pagination a:active {
    border: 1px solid #ee3643;
}

.about-perf {
    padding-top: 67px;
    padding-bottom: 67px;

    line-height: 24px;

    background-color: #f4f7f9;
}

.about-perf h2 {
    font-weight: normal;
    padding-bottom: 25px;
}

.about-perf p {
    margin: 0;
}


.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 30;
    transform: translateX(-50%) translateY(-50%);
    width: 620px;
    padding: 45px 80px 37px;

    background-image: linear-gradient(to top, #f4f4f4 112px, #ffffff 112px);
    border-top: 7px solid #FF5256;
    box-shadow: 0px 20px 40px 0 #000000c0;
}

.modal-feedback p {
    margin: 0;
}

.modal-feedback label {
font-family: "Cuprum", Arial, sans-serif;
font-size: 18px;
line-height: 18px;
}

.modal-feedback form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-feedback input {
    width: 220px;
    margin-top: 13px;
    margin-bottom: 20px;
    padding-left: 16px;

    line-height: 38px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    color: #a9a9a9;

    border: 2px solid #dee3e4;
    border-radius: 3px;
}

.modal-feedback .input-wrapper {
    width: 220px;
}

.modal-feedback textarea {
    width: 460px;
    height: 114px;
    margin: 13px 0 65px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    color: #a9a9a9;

    border: 2px solid #dee3e4;
    border-radius: 3px;
    overflow: auto;
}

.modal-feedback .btn {
    padding: 0 198px 0;
    border: none;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;

    width: 21px;
    height: 21px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;
  }

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 27px;
  height: 4px;

  border-radius: 2px;
  background-color: #FF5256;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 30;
    transform: translateX(-50%) translateY(-50%);

    width: 940px;
    height: 447px;

    background-image: url(../img/map-big.jpg);
    background-repeat: no-repeat;

    box-shadow: 0 0 14.7px 1.3px #2f2a2b80;
}

.modal-to-cart h2 {
    position: relative;
    margin: 23px 0 68px 100px;
    margin-bottom: 68px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.modal-to-cart h2::before {
    position: absolute;
    top: -15px;
    left: -100px;
    z-index: 40;

    display: block;
    width: 66px;
    height: 66px;
    content: "";

    background-color: #63A83C;
    border-radius: 50%;
}

.modal-to-cart h2::after {
    position: absolute;
    top: 5px;
    left: -84px;
    z-index: 40;

    display: block;
    width: 35px;
    height: 20px;
    transform: rotate(-45deg);
    border: 7px solid #ffffff;
    border-top: transparent;
    border-right: transparent;
    border-radius: 2px;
    content: "";
}

.modal-btns {
    display: flex;
    justify-content: space-between;

    padding-top: 37px;
}

.modal-btns .btn-red {
    padding: 0 62px 0 59px;
}

.modal-btns .btn-white {
    padding: 0 47px 0 44px;

    color: #000000;

    background-color: #ffffff;
}